body {
    background: url("./img/background.jpg");
}
.rm-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;

    &__description {
        width: 500px;
        padding-left: 200px;
     }
}