body {
    font-family: 'Open Sans', sans-serif;
    background: url("./img/background.jpg");
}
.rm-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    &__description {
        width: 500px;
        padding-left: 200px;
     }
}
.rm-page {
    &__header {
        font-weight: 300;
        font-size: 52px;
        color: #f26522;
        text-shadow: 0 0 30px #f26522;
    }
    &__text {
        color: rgba(255, 255, 255, 0.7);
        font-size: 16px;
        font-weight: 300;
    }
}

.animate-page-appear {
    opacity: 0.01;
}

.animate-page-appear.animate-page-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}
